*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

body{
	background-color: #161616;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

main{
	flex: 1 0 auto;
}

.sign-up{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ddd;
	border-radius: 10px;
	max-width: 600px;
	margin: 2em auto;
	overflow: hidden;
}

.sign-up label{
	display: block;
	font-weight: bold;
	color: #222;
}

.sign-header{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 40px;
	background-color: #464646;
	color: #ddd;
}

.sign-header{
	font-size: 1.5em;
}

.sign-body{
	padding: 10px;
}

.cor-text{
	margin-bottom: 10px;
	cursor: pointer;
}

.cor-fun{
	display: flex;
	padding: 0;
	width: 100%;
	height: 80px;
	border: none;
	background-color: #444;
	margin-bottom: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.pfp{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: #111;
	margin: auto;
	margin-bottom: 20px;
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

label[for="desc"]{
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}

label[for="desc"] textarea{
	resize: none;
	margin-top: 10px;
}

.file-pfp{
	display: none;
}

.i0{
	color: #ddd;
	font-size: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-weight: bold;
}

.nome{
	min-height: 30px;
	padding: 0 20px 0 20px;
	background-color: #262626;
	font-size: .9em;
	font-weight: bold;
	border-radius: 20px;
	border: none;
	color: #ddd;
	margin-left: 5px;
}

.nome:focus{
	outline: none;
}

.desc{
	padding: 10px;
	background-color: #262626;
	border: none;
	border-radius: 20px;
	font-size: 1.2em;
	color: #ddd;
}

.desc:focus{
	outline: none;
}

.enviar{
	display: block;
	background-color: #666;
	color: #ddd;
	border: none;
	height: 30px;
	padding-left: 20px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 20px;
	border-radius: 20px;
	font-size: 1em;
	margin: 1em auto;
	font-weight: bold;
}

.enviar:hover{
	background-color: #888;
	color: #fff;
	cursor: pointer;
}

.user{
	background-color: #2a2a2a;
	max-width: 400px;
	color: #ddd;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	overflow: hidden;
	margin: 6em auto;
}

.user-header{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 180px;
}

.photo-nick{
	display: flex;
	flex-direction: row;
	align-items: center;
	transform: translateY(-30px);
}

.background-user{
	display: flex;
	background-color: #ddd;
	width: 100%;
	height: 80px;
}

.user-header h1{
	font-size: 2em;
	margin-left: 20px;
}

.user-body{
	height: 200px;
	padding: 20px;
}

.user-body p{
	font-size: 20px;
}

.photo{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #444;
	outline: 6px solid #2a2a2a;
	background-size: cover;
	background-repeat: no repeat;
	background-position: center;
}

.footer{
	flex-shrink: 0;
	background-color: #666;
	text-align: center;
	font-weight: bold;
	font-size: .9em;
	padding: 3px;
	color: #222;
}

.footer a{
	text-decoration: none;
	color: #222;
}

.footer a:hover{
	text-decoration: underline;
}

.udesc{
	width: 100%;
	overflow-wrap: break-word;
	background-color: #444;
	padding: 10px;
	border-radius: 10px;
	color: #ddd;
}

.deletar-secao{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.del{
	background-color: #444;
	color: #ddd;
	border: none;
	padding: 0px 20px 0px 20px;
	height: 40px;
	font-size: 1em;
	font-weight: bold;
	border-radius: 20px;
}

.del:hover{
	background-color: #555;
	cursor: pointer;
}

@media (max-width: 475px){
	.sign-up{
		max-width: 400px;
	}
	
	.sign-body label[for="nome"], .sign-body label[for="desc"]{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.nome{
		margin-top: 10px;
	}
}