*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

body{
	background-color: #262626;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}